* {
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, 'Quicksand', 'Crimson Text', 'Montserrat', 'Tangerine', cursive, sans-serif;
  line-height: 1.5;
  color: #363636;
}

/* Mobile */
@media screen and (max-width:450px) {
  .logo {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36%;
    display: block;
  }

  .logo2 {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22%;
    display: block;
  }

  .logo-slideshow {
    width: 100%;
  }

  .thick-border {
    border: thick solid #313131;
  }

  .menu-bar {
    display: none;
  }

  .menu-bar-mobile {
    text-align: center;
    margin-top: 14%;
    float: left;
  }

  .menu-bar-mobile img {
    width: 70%;
    margin-left: 15%;
    margin-top: -25%;
    height: auto;
  }

  .menu-bar-mobile button {
    background: none;
    border: none;
    font-family: 'Mate SC', serif;
    color: #222222;
    cursor: pointer;
    outline: none;
  }

  .menu-bar-mobile p {
    font-size: 2rem;
  }

  .mobile-arrows {
    width: 15%;
  }

  p {
    font-size: 1.2rem;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    color: #222222;
    font-family: 'Montserrat';
  }

  .proj-caro {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
  }

  .proj-desc {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    background-color: rgb(204, 204, 204, 0.5)
  }

  .proj-desc h1 {
    padding-top: 5%;
    font-size: 4rem;
    font-family: 'Tangerine', cursive;
  }

  .proj-desc p {
    margin-left: 5%;
    margin-right: 5%;
    padding-bottom: 5%;
  }

  .hrule {
    height: 2px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 32%;
    display: block;
    margin-bottom: 2%;
  }

  .contact-name {
    font-family: 'Mate SC', serif;
    font-size: 2.5rem;
    padding-top: 1%;
    padding-bottom: 0;
  }
}

/* Monitor */
@media screen and (min-width:451px) {
  .logo {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -33%;
    display: block;
  }

  .logo-slideshow {
    margin-left: 25%;
    width: 50%;
    margin-top: 2%;
  }

  .thick-border {
    border: thick solid #313131;
  }

  .logo2 {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14%;
    display: block;
  }

  .menu-bar {
    margin-left: 25%;
    margin-right: 25%;
    height: auto;
    display: block;
    margin-top: 10%;
  }

  .menu-bar button {
    background: none;
    border: none;
    font-family: 'Mate SC', serif;
    color: #222222;
    font-size: 2.2vw;
    width: 33%;
    cursor: pointer;
    float: left;
    display: block;
    outline: none;
  }

  .menu-bar-mobile {
    display: none;
  }

  .menu-bar button:hover {
    font-weight: bold;
  }

  p {
    font-size: 1.2vw;
    margin-left: 25%;
    margin-right: 25%;
    padding-top: 2%;
    color: #222222;
    font-family: 'Montserrat';
  }

  .subtext {
    padding-top: 1%;
  }

  .proj-caro {
    width: 25%;
    margin-left: 25%;
    padding-top: 3%;
  }

  .hrule {
    height: 2px;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 15%;
    display: block;
  }

  .contact-name {
    font-family: 'Mate SC', serif;
    font-size: 2.2vw;
    padding-top: 1%;
    padding-bottom: 0;
  }

  .proj-desc {
    margin-top: 3%;
    margin-left: 52%;
    margin-right: 25%;
    position: absolute;
    text-align: center;
    background-color: rgb(204, 204, 204, 0.5)
  }

    .proj-desc h1 {
      padding-top: 5%;
      font-size: 3.2vw;
      font-family: 'Tangerine', cursive;
    }

    .proj-desc p {
      margin-left: 5%;
      margin-right: 5%;
      padding-bottom: 3%;
    }
}

#logos {
  position:relative;
}

#logos img.logo {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#logos img.logo2 {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes logoFadeInToOut {
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

@keyframes logoFadeOutToIn {
  0% {
  opacity:0;
  }
  45% {
  opacity:0;
  }
  55% {
  opacity:1;
  }
  100% {
  opacity:1;
  }
}

#logos img.logo {
  animation-name: logoFadeInToOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

#logos img.logo2 {
  animation-name: logoFadeOutToIn;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

.contact-info {
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 0;
}

.no-padding {
  padding: 0;
}

.menu-bar a {
  display: block;
  float: left;
}

.tabcontent {
  display: none;
}

.menu-bar button:focus {
  outline: none;
  font-weight: bold;
}

.menu-bar-mobile button:focus {
  outline: none;
}

.contact-general {
  text-align: center;
}