* {
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Montserrat';
}

html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, 'Quicksand', 'Crimson Text', 'Montserrat', 'Tangerine', cursive, sans-serif;
  line-height: 1.5;
  color: #363636;
}

/* Mobile */
@media screen and (max-width:450px) {
  .main-body {
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    border-style: none solid none solid;
    border-width: thick;
    border-color: #000000;
    background-color: rgb(238, 238, 238);
  }
  
  .logo-border {
    border-style: solid;
    border-width: medium;
  }
  
  .content {
    margin-top: 23%;
  }
  
  .content p {
    font-size: 1rem;
    padding-top: 1.5%;
    color: #000000;
    font-family: 'Montserrat';
  }
  
  .project-section {
    margin-bottom: 3%;
    overflow: hidden;
    background-color: rgba(196, 196, 196, 0.5);
  }

  .proj-desc {
    margin-top: 5%;
    text-align: center;
  }

  .proj-desc h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2rem;
    font-family: 'Tangerine', cursive;
    color: #000000;
  }

  .proj-desc p {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 5%;
    font-size: 1rem;
    color: #000000;
  }

  .proj-desc-full {
    margin-top: 5%;
    text-align: center;
  }
  .proj-desc-full h1 {
    padding-top: 2%;
    padding-bottom: 2%;
    font-size: 2rem;
    font-family: 'Tangerine', cursive;
    color: #000000;
  }
  .proj-desc-full p {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 5%;
    font-size: 1rem;
    color: #000000;
  }

  .half-caro {
    width: 100%;
  }

  .full-caro {
    width: 100%;
  }

  .logo {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -36%;
    display: block;
  }

  .logo2 {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -22%;
    display: block;
  }

  .logo-slideshow {
    margin-left: 25%;
    width: 50%;
    margin-top: 2%;
  }

  .contact-name {
    font-family: 'Mate SC', serif;
    font-size: 2.5rem;
    padding-top: 1%;
    padding-bottom: 0;
  }

  .contact-general {
    margin-top: 5%;
    margin-bottom: 3%;
    padding-top: 2%;
    padding-bottom: 3%;
    text-align: center;
    background-color: rgba(196, 196, 196, 0.5)
  }
}

/* Monitor */
@media screen and (min-width:451px) {
  .main-body {
    margin-left: 25%;
    margin-right: 25%;
    padding: 1%;
    border-style: none solid none solid;
    border-width: thick;
    border-color: #000000;
    background-color: rgb(238, 238, 238);
  }
  
  .logo-border {
    border-style: solid;
    border-width: medium;
  }
  
  .content {
    margin-top: 20%;
  }
  
  .content p {
    font-size: 0.9vw;
    padding-top: 1.5%;
    color: #000000;
    font-family: 'Montserrat';
  }
  
  .project-section {
    margin-bottom: 3%;
    overflow: hidden;
    background-color: rgba(196, 196, 196, 0.5);
  }

  .proj-desc {
    width: 50%;
    float: left;
    text-align: center;
    position: relative;
  }

  .proj-desc h1 {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 3.5vw;
    font-family: 'Tangerine', cursive;
    color: #000000;
  }

  .proj-desc p {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 5%;
    font-size: 1vw;
    color: #000000;
  }

  .proj-desc-full {
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
  }
  .proj-desc-full h1 {
    padding-top: 5%;
    padding-bottom: 3%;
    font-size: 3.5vw;
    font-family: 'Tangerine', cursive;
    color: #000000;
  }
  .proj-desc-full p {
    margin-left: 8%;
    margin-right: 8%;
    padding-bottom: 3%;
    font-size: 0.9vw;
    color: #000000;
  }

  .half-caro {
    width: 50%;
    float: left;
    position: relative;
  }

  .full-caro {
    width: 100%;
  }

  .logo {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -33%;
    display: block;
  }

  .logo2 {
    width: 60%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: -14%;
    display: block;
  }

  .logo-slideshow {
    margin-left: 25%;
    width: 50%;
    margin-top: 2%;
  }

  .contact-name {
    font-family: 'Mate SC', serif;
    font-size: 2.2vw;
  }

  .contact-general {
    width: 50%;
    margin-bottom: 4%;
    padding-top: 2%;
    float: left;
    position: relative;
    text-align: center;
    background-color: rgba(196, 196, 196, 0.5)
  }
}

#logos {
  position:relative;
}

#logos img.logo {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

#logos img.logo2 {
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

@keyframes logoFadeInToOut {
  0% {
  opacity:1;
  }
  45% {
  opacity:1;
  }
  55% {
  opacity:0;
  }
  100% {
  opacity:0;
  }
}

@keyframes logoFadeOutToIn {
  0% {
  opacity:0;
  }
  45% {
  opacity:0;
  }
  55% {
  opacity:1;
  }
  100% {
  opacity:1;
  }
}

#logos img.logo {
  animation-name: logoFadeInToOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}

#logos img.logo2 {
  animation-name: logoFadeOutToIn;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}
