* {
  box-sizing: border-box; }

html, body, h1, h2, h3, h4, h5, p, a {
    font-family: 'Montserrat';
}

body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, Arial, 'Quicksand', 'Crimson Text', 'Montserrat', sans-serif;
  line-height: 1.5;
  color: #363636;
}

/* Mobile */
@media screen and (max-width:450px) {
  .logo {
    width: 90%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    display: block;
  }

  .menu-bar {
    position:relative;
    text-align: center;
    padding-top: 2%;
  }

  .menu-bar button {
    background: none;
    border: none;
    font-family: 'Quicksand';
    color: #2b2b2b;
    font-size: 1.7rem;
    margin: auto;
    cursor: pointer;
    display: block;
    outline: none;
  }

  p {
    font-size: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 5%;
    color: #2b2b2b;
    font-family: 'Montserrat';
  }
}

/* Monitor */
@media screen and (min-width:451px) {
  .logo {
    width: 35rem;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    display: block;
  }

  .menu-bar {
    position:relative;
    margin-left: 26.5%;
  }

  .menu-bar button {
    background: none;
    border: none;
    font-family: 'Quicksand';
    color: #2b2b2b;
    font-size: 2.5rem;
    margin: 1rem 2.5rem;
    cursor: pointer;
    float: left;
    display: block;
    outline: none;
  }

  .menu-bar button:hover {
    font-weight: bold;
  }

  p {
    font-size: 1.6rem;
    margin-left: 18%;
    margin-right: 18%;
    padding-top: 6%;
    color: #2b2b2b;
    font-family: 'Montserrat';
  }
}

.menu-bar a {
  display: block;
  float: left;
}

.tabcontent {
  display: none;
}

.menu-bar button:focus {
  outline: none;
}